Cython==3.2.0
python==3.8.18
numpy==1.24.4
matplotlib==3.7.5
networkx==3.1
pandas==2.0.3
Pillow==9.3.0
rdkit==2022.3.3
requests==2.31.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
torch==1.8.1
torch-geometric==2.2.0
torch-scatter==2.0.8
torch-sparse==0.6.10
torchaudio==0.8.0a0+e4e171a
torchvision==0.9.1